:root {
  --primary-color: rgb(190, 254, 255);
  --secondary-color: rgb(0, 181, 181);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(./img/blueBackground.jpg) no-repeat center center/cover;
  min-height: 100vh;
  height: fit-content;
}

a {
  text-decoration: none;
}

header {
  padding: 1rem;
  text-align: center;
  background-color: var(--primary-color);
  color: black;
  border-bottom: 5px var(--secondary-color) solid;
}

.container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.container a {
  background-color: var(--secondary-color);
  padding: 3rem;
  border-radius: 10px;
  transition: all 1s ease-in-out;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container a:hover {
  border-radius: 0;
  box-shadow: 5px 5px 10px black;
}

.container .not-ready {
  background-color: gray;
  border-radius: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.container .not-ready span {
  font-size: small;
  color: lightgray;
}

.container .not-ready:hover {
  background-color: gray;
  box-shadow: none;
  border-radius: 0;
}

.about {
  margin: 1rem;
}

.about div,
.about ol {
  padding: 1rem;
  background-color: var(--primary-color);
  color: black;
  margin: 1rem 0;
}

.contact form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form input,
.contact form textarea,
.contact form button {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

.contact form button {
  background-color: rgb(49, 135, 150);
  color: white;
  border: none;
  font-size: larger;
  width: 50%;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}

.contact form button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(87, 99, 191);
}
/* iPad */
@media (max-width: 768px) {
  .not-ready {
    padding: 3rem;
  }
}
/* iPhone X */
@media (max-width: 414px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container .not-ready:first-of-type {
    padding: 1rem;
  }
  .container .not-ready {
    font-size: small;
    text-align: center;
  }
}

/* iPhone 5/SE */
@media (max-width: 320px) {
  .container {
    grid-template-columns: 1fr;
  }

  .container a {
    font-size: 0.7rem;
    padding: 2rem;
  }

  .container .not-ready {
    padding: 2rem;
  }
}

/* galaxy S5 */
@media (max-width: 360px) {
  .container a {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .not-ready {
    padding: 2rem;
  }
}
